.student-list {
    align-items: center;
}
.list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 15px;
    justify-content: center;
    margin: 10px;
    border: 5px solid lightpink;
    padding: 50px;

    .student {
        text-align: center;
        padding: 20px;

        .full-name {
            font-weight: bold;
        }
    }
}
button {
    margin-top: 15px;
    /*align-items: center;*/
    background: #a0144f;
    color: cornsilk;
    border: 3px solid #a0144f;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    padding: 10px 15px;
    transition: all .3s ease;

&
:hover {
    background: lightpink;
}

}
