.todo-item {
    color: darkred;
}
.todo-list {
    background: lawngreen;
    padding: 5px;
    cursor: pointer;
}
.todo-wrapper {
    h2 {
        color: mediumpurple;
    }
}
.section {
    p {
        margin: 10px 0 10px;
        font-weight: bold;
        font-size: 20px;
        color: deeppink;
    }
}
.header-input {
    display: grid;
    grid-template-columns: minmax(0, 1fr) max-content;
    align-items: center;
    gap: 10px;

    button {
        /*padding: 5px;*/
        border-radius: 5px;
        background-color: antiquewhite;
    }

}